@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Comfortaa', sans-serif;
    overflow: hidden;
}

header {
    z-index: 100;
    position: relative;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    position: fixed;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    background-color: white;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#menu__toggle {
    display: none;
}

.menulist {
    list-style: none;
}

.menulist a {
    text-decoration: none;
    color: black;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 10px;
    text-transform: uppercase;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* .a {} */

.a:hover {
    color: white;
    padding: 12px 20px;
    background-color: #FFB820;
}

.a:active {
    color: black;
    padding: 12px 24px;
    background-color: #FFCE67;
}

/* .a:visited {} */

.logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.logo:hover {
    transform: scale(1.1);
}

.logo1 {
    display: none;
}

section {
    height: 100vh;
}

.main-container {
    margin: 171px 0px 0px 39px;
    width: 477px;
    height: 327px;
}

.main-container > p {
    color: #424040;
}

